*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 10px;
}
header{
 
   text-align: center;
   margin: 10px;
   padding: 10px;

}
#type ,#btnfilter,#input ,#rest{
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
}

/* js styleing */

/* #mainId{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    perspective: 1000px;
    opacity: 0.95;
}



.card-inner{
   display: flex;
    flex-direction: row;
    
    margin: 20px;
    width: 200px;
    height: 275px;
    text-align: center;
    justify-content: center;
    
    

}
.card-front{
    width: 100%;
    height: 100%;
    
    position: absolute;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-back{
    width: 100%;
    height: 100%;
   
   position: absolute;
   align-items: center;
   -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-inner:hover .card-front{
    transform: rotate(180deg);
}
.card-front{
    transform: rotate(0);
}
.card-back{
    transform: rotateY(180deg);
}
.card-front{
    z-index: 2;
    transform: rotateY(0);
} */

#mainId{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    /* background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/watch-pokemon-tv/seasons/season24/season24_ep04_ss03.png);
   background-repeat: no-repeat;
   background-position: center; */
  }

.card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding: 10px;
     
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }
  
  .card:hover .card-inner{
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 10px;
    
  }
  
  .card-front {
    /* background-color: #bbb; */
    color: black;
  }
  
  .card-back {
    /* background-color: #2980b9; */
    color: rgb(16, 16, 16);
    transform: rotateY(180deg);
  }
  .card-inner img{
    /* border: 2px solid; */
    margin: 20px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px;
    
  }
  .card-inner, .name{
    font-size: 1.5rem;
    /* border: 2px solid; */
  }
  .card-inner,.name-type{
    font-size: 1.0rem;
    margin-top: 20px;
    border: 2px solid;
    background-color: white;
    border-radius: 5px;
   
  }
  .name-type{
    width: 70px;
    margin-left: 100px;
    padding: 10px;
  }
.card-back .ability{
    font-size: 1.5rem;
    margin-top: 20px;

}
.card-front .id{
    background-color: aliceblue;
}